.quizButton {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: rgb(80, 2, 95);
}
.container {
    width: 800px;
    max-width: 80%;
    background-color:whitesmoke;
    margin-top: 10%;
}